{% extends "index.html" %}
{% block content %}

<div id="content">

    <form action="{{ url_for('poll') }}" class= "add-form" method="POST">
    {% if question %}
        <h3 class="h31">{{ question[0].question_text }}</h3>
    {% if question[0] %}
    {% for choice in question[0].choices %}
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="choice1" value="{{ choice.id }}" /> {{ choice.choice_text }}
        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}<br>
    {% endif %}

    {% if question[1] %}
        <h3 class="h31">{{ question[1].question_text }}*</h3>
        <textarea class="choice2" name="choice2" cols="70" rows="5"></textarea><br>
    {% endif %}

    {% if question[2] %}
        <h3 class="h31">{{ question[2].question_text }}</h3>
    {% for choice in question[2].choices %}
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="choice3" value="{{ choice.id }}" /> {{ choice.choice_text }}
        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}<br>
    {% endif %}

    {% if question[3] %}
        <h3 class="h31">{{ question[3].question_text }}*</h3>
        <textarea class="choice2" name="choice4" cols="70" rows="5"></textarea><br>
    {% endif %}
    {% endif %}

    <br>
    <label><button class="b4" type="submit" title="Send answers"><b>Send</b></button></label>
    </form>
    <div id="legend">* - Optional field</div>
</div>
{% endblock %}
