{% extends "baselogin.html" %}
{% block content %}

<h3>Reset password</h3>
<p>
    {% if info %}
        <strong class="success">{{ info }}</strong>
    {% endif %}
    {% if error %}
        <strong class="error">Error: {{ error }}</strong>
    {% endif %}
    {% for message in get_flashed_messages() %}
        <strong class="success">{{ message }}</strong>
    {% endfor %}
</p>

<!-- formularz zmiany hasła -->
<form class="add-form" method="POST" action="{{ url_for('password_reset') }}">
    <p style="margin-left: 30px"><label>E-mail: <input type="email" name="email"></label></p>
    <p style="margin-top: 25px"><label><button type="submit"><b>Reset password!</b></button></label></p>
</form>

{% endblock %}