{% extends "index.html" %}
{% block content %}
    <!-- informacje o sukcesie lub błędzie -->
<p>
    {% if error %}
        <strong class="error">Error!: {{ error }}</strong>
    {% endif %}

    {% for message in get_flashed_messages() %}
        <strong class="success">{{ message }}</strong>
    {% endfor %}
</p>

<div id="content">
<!-- formularz dodawania zadania -->
<form class="add-form" method="POST" action="{{ url_for('insert') }}">
    <label><input name="task" value=""/></label>
    <label><button class="b1" type="submit">Add Task</button></label>
</form>

<form id="eraser" method="POST" action="{{ url_for('erase') }}">
    <label><button type="submit" class="b2">Delete<br>Task</button> </label>
</form>
<ol>
<!-- wypisujemy kolejno wszystkie zadania -->
{% for i in tasks %}
    <li>
        <table>
            <tbody>
            <tr valign="top">
                <td>
                    <label>
                        <input id="chbx" type="checkbox" name="erase" value="{{ i.id }}" form="eraser">
                    </label>
                </td>
                <!-- wyróznienie zadań zakończonych -->
                <td>
                    {% if i.executed %}
                    <span class="done">
                    {% endif %}

                    {{ i.task }} &nbsp;&nbsp;&nbsp;- <em>{{ i.data_pub }}</em>

                    {% if i.executed %}
                    </span>
                    {% endif %}
                </td>
                <td>
                {% if not i.executed %}
                    <!-- wysyłamy jedynie informacje o id zadania -->
                    <form class="form2" method="POST" action="{{ url_for('executed') }}">
                        <label><input type="hidden" name="execute" value="{{ i.id }}"/></label>
                        <button type="submit" class="b1">Execute!</button>
                    </form>
                {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </li>
{% endfor %}
</ol>
</div>
{% endblock %}
