<!-- todo/templates/tasks_list.html -->
{% extends "index.html" %}
{% block content %}
    <!-- informacje o sukcesie lub błędzie -->


<div id="content">
<div id="bar">
    <p>
        {% if error %}
            <strong class="error">Error!: {{ error }}</strong>
        {% endif %}

        {% for message in get_flashed_messages() %}
            <strong class="success">{{ message }}</strong>
        {% endfor %}
    </p>

    <!-- formularz dodawania zadania -->
    <form class="add-form2" method="POST" action="{{ url_for('user', username=g.user.username) }}">
        <label><input class=focus name="task" value="" title="Enter task here"/></label>
        <label><input class=focus type="datetime-local" data-date-inline-picker="false" data-date-open-on-focus="true" name="date" title="Choose date and time"/></label>
        <label><button class="b1" type="submit" title="Add new task"><b>Add Task!</b></button></label>
    </form>

    <form id="eraser" method="POST" action="{{ url_for('erase') }}">
        <label><button type="submit" class="b2" title="Delete multiple tasks">Delete<br>Task!</button> </label>
    </form>
</div>
<ol>
<!-- wypisujemy kolejno wszystkie zadania -->
{% for i in tasks.items %}
    <li>
        <table>
            <tbody>
            <tr valign="top">
                <td>
                    <label>
                        <input class="chbx" type="checkbox" name="erase" value="{{ i.id }}" form="eraser" title="Check to delete task">
                    </label>
                </td>
                <!-- wyróznienie zadań zakończonych -->
                <td>
                    {% if i.executed %}
                    <span class="done">
                    {% endif %}

                    {{ i.task }} &nbsp;&nbsp;&nbsp;- <em>{{ i.data_pub }}</em>

                    {% if i.executed %}
                    </span>
                    {% endif %}
                </td>
                <td>
                {% if not i.executed %}
                    <!-- wysyłamy jedynie informacje o id zadania -->
                    <form class="form2" method="POST" action="{{ url_for('executed') }}">
                        <label><input type="hidden" name="execute" value="{{ i.id }}"/></label>
                        <button type="submit" class="b5" title="Mark as executed">Execute!</button>
                    </form>
                {% endif %}
                {% if i.executed %}
                    <!-- wysyłamy jedynie informacje o id zadania -->
                    <form class="form2" method="POST" action="{{ url_for('undo') }}">
                        <label><input type="hidden" name="undo" value="{{ i.id }}"/></label>
                        <button type="submit" class="b6" title="Undo execution">Undo!</button>
                    </form>
                {% endif %}

                </td>
            </tr>
            </tbody>
        </table>
    </li>
{% endfor %}
</ol>
    <div class="pagination">
        {% if tasks.has_prev %}
            <a class = "pagination1" href="{{ url_for('user', username=g.user.username, page=tasks.prev_num) }}"
               title="Previous page">&lt;&lt; Newer tasks</a>
        {% else %}
             <span class = "pagination2">&lt;&lt; Newer tasks</span>
        {% endif %}

        {%- for page in tasks.iter_pages() %}
        {% if page %}
            {% if page != tasks.page %}
            <a class = "pagination1" href="{{ url_for('user', username=g.user.username, page=page) }}" title="Go to page {{ page }}">&nbsp;{{ page }}&nbsp;</a>
            {% else %}
            <strong class = "pagination2">&nbsp;{{ page }}&nbsp;</strong>
            {% endif %}
        {% else %}
            <span class=pagination2>…</span>
        {% endif %}
        {%- endfor %}

        {% if tasks.has_next %}
            <a class = "pagination1" href="{{ url_for('user', username=g.user.username, page=tasks.next_num) }}"
               title="Next page">Older tasks &gt;&gt;</a>
        {% else %}
            <span class = "pagination2">Older tasks &gt;&gt;</span>
        {% endif %}
    </div>

</div>
{% endblock %}
