body
{
    height: 100%;
    margin: 0;
    background-color: #333333;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header
{
    background-color: #1B5E20;
    margin-top: -20px;
    padding: 20px;
    color: white;
}

main
{
    background-color: floralwhite;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 400px;
}

#box
{
    background-color: floralwhite;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    margin-top: 120px;
    padding:  20px;
    min-height: 500px;

}

#container
{
    background-color: floralwhite;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 60px);
    min-height: 500px;
    overflow: scroll;

}

.title
{
    color: black;
    text-decoration: none;
}

.title2
{
    color: white;
    text-decoration: none;
}

#header
{
    width: auto;
    margin-top: -20px;
    margin-bottom: -30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header1
{
    float: left;
    width:80px;
    margin-top: -20px;
    margin-right: 15px;
}

#header2
{
    float: left;
    width:90px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: 5px;
}

#header3
{
    float: left;
    width: auto;
    margin-right: 10px;
    text-align: right;
}

#content
{
    min-height: 250px;
}

#bar
{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    background-color: #FFECB3;
}

footer
{
    height: 30px;
    width: 780px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    color: white;
    padding: 13px;
    font-size: 12px;
}

#footer2
{
    height: 30px;
    width: 580px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    color: white;
    padding: 13px;
    font-size: 12px;
}


.foot1
{
    width: auto;
    text-align: right;
    margin-right: 0;
}

h1, h3, p
{
    text-align: center;
}

.add-form
{
    text-align: center;
    margin-bottom: -20px;

}

.add-form2
{
    text-align: center;
    margin-bottom: -20px;
    margin-left: 40px;

}

.del-form
{
    text-align: center;
    margin-left: 50px;
}

.form2
{
    text-align: center;
    margin-bottom: 0;
    margin-left: 15px;
}

ol
{
    text-align: left;
    margin-top: -5px;
}

li table
{
    vertical-align: top;
}

li
{
     min-height: 35px;
}

.chbx
{
    margin-top: 4px
}

table
{
    display: inline-table; margin-top: -3px
}

em
{
    font-size: 16px;
    margin-left: 10px;
}

input[name="task"]
{
    width: 330px;
}


.focus:focus
{
    border-color: blue;
    border-radius: 5px;
}

.focus
{
    margin-left: 10px;
}

button
{
    background: sandybrown;
    font-family: 'Roboto', sans-serif;
    border-color: sienna ;
    color: #6a3403;
}

button:hover
{
    cursor: pointer;
    background: #FFECB3;
}

.b1
{
    cursor: pointer;
    font-size: 11px;
    background: #FFECB3;
    color: #0288D1;
    border: none;

}

.b1:hover
{
    background: #FFECB3;
    color: #40C4FF;
}

.b5
{
    cursor: pointer;
    font-size: 11px;
    background: floralwhite;
    color: #4CAF50;
    border: none;

}

.b5:hover
{
    background: floralwhite;
    color: #64DD17;
}

.b2
{
    cursor: pointer;
    font-size: 11px;
    background: #FFECB3;
    border: none;
    color: #BF360C;
}

.b2:hover
{
    background: #FFECB3;
    color: #FF5722;
}

.b3
{
    width: 115px;
}

.b4
{
    width: 82px;
}


#eraser
{
    height: 20px;
    margin-left: 48px;
    margin-top: -30px;
}

.error { color: red; }

.success { color: green; }

.done
{
    text-decoration: line-through;
}


